{% extends "base.html" %}
{% set active_page = "main" %}
{% set active_href = "/main.html" %}

{% block content %}
<div class="content">
    <form action="{{ active_href|e }}" id="form1" method="post">



        <h1>Установка даты и времени</h1>
        <hr noshade>

        <div>
            <label>Дата</label>
            <input type="date" id="date" name="date"
                   value="{{ main.date }}" min="1970-01-01" max="2038-01-19"
                    {% if main.sync_src != '0' %} readonly="readonly" {% endif %}>
        </div>
        <div>
            <label>Время</label>
            <input id="time" type="time" name="time" step="1" value="{{ main.time }}" pattern="/^([0-1]\d|20|21|22|23):[0-5]\d$/"
                    {% if main.sync_src != '0' %} readonly="readonly" {% endif %}>
        </div>
        <h2>Установка возможна только при синхронизации от внутреннего источника</h2>
        <div>
            <br>
            <button id="save_time_btn" type="submit" name="btn" value="save_time">Сохранить</button>
            <br><br>
        </div>
    </form>

    <form action="{{ active_href|e }}" id="form2" method="post">
        <h1>Настройка параметров времени</h1>
        <hr noshade>
        <div>
            <label>Источник синхронизации</label>
            <select name="sync_src" onchange="document.getElementById('save_settings_btn').value = 'set_sync';
                                            document.getElementById('save_settings_btn').click();">
                <option value="0" {% if main.sync_src == '0' %}selected{% endif %}>Внутренний</option>
                <option value="1" {% if main.sync_src != '0' %}selected{% endif %}>Внешний (ГНСС)</option>

            </select>
        </div>
        <div>
            <label>Максимальная перестройка времени, мин</label>
            <input type="text" name="timejump" min="0" max="180" value="{{ main.timejump }}" >
        </div>

        <h2>Настройка часовых поясов</h2>
        {% set hours = ['-12', '-11', '-10', '-9', '-8', '-7', '-6', '-5', '-4', '-3', '-2', '-1', '+0', '+1', '+2', '+3', '+4', '+5', '+6', '+7', '+8', '+9', '+10', '+11', '+12', '+13', '+14'] %}
        <div>
            <label>Часовая станция</label>
            <select name="tz">
                {% for hour in hours %}
                <option value="{{ hour }}" {% if main.tz == hour %}selected{% endif %}> {{ hour }} </option>
                {% endfor %}
            </select>
{#            <select name="timezone_offset" id="timezone-offset" class="span5">#}
{#                <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>#}
{#                <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>#}
{#                <option value="-10:00">(GMT -10:00) Hawaii</option>#}
{#                <option value="-09:50">(GMT -9:30) Taiohae</option>#}
{#                <option value="-09:00">(GMT -9:00) Alaska</option>#}
{#                <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>#}
{#                <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>#}
{#                <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>#}
{#                <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>#}
{#                <option value="-04:50">(GMT -4:30) Caracas</option>#}
{#                <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>#}
{#                <option value="-03:50">(GMT -3:30) Newfoundland</option>#}
{#                <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>#}
{#                <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>#}
{#                <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>#}
{#                <option value="+00:00" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>#}
{#                <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>#}
{#                <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>#}
{#                <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>#}
{#                <option value="+03:50">(GMT +3:30) Tehran</option>#}
{#                <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>#}
{#                <option value="+04:50">(GMT +4:30) Kabul</option>#}
{#                <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>#}
{#                <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>#}
{#                <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>#}
{#                <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>#}
{#                <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>#}
{#                <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>#}
{#                <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>#}
{#                <option value="+08:75">(GMT +8:45) Eucla</option>#}
{#                <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>#}
{#                <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>#}
{#                <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>#}
{#                <option value="+10:50">(GMT +10:30) Lord Howe Island</option>#}
{#                <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>#}
{#                <option value="+11:50">(GMT +11:30) Norfolk Island</option>#}
{#                <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>#}
{#                <option value="+12:75">(GMT +12:45) Chatham Islands</option>#}
{#                <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>#}
{#                <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>#}
{#            </select>#}
        </div>
        <div>
            <label>Выносной индикатор КВ</label>
            <select name="tz_kv">
                {% for hour in hours %}
                <option value="{{ hour }}" {% if main.tz_kv == hour %}selected{% endif %}> {{ hour }} </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Выносной индикатор RS-485</label>
            <select name="tz_rs">
                {% for hour in hours %}
                <option value="{{ hour }}" {% if main.tz_rs == hour %}selected{% endif %}> {{ hour }} </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <br>
            <button id="save_settings_btn" type="submit" name="btn" value="save_time_settings">Сохранить</button>
            <br><br>
        </div>
    </form>

    <form action="{{ active_href|e }}" id="form3" method="post">

        <h1>Настройка ГНСС</h1>
        <hr noshade>

        <div>
            <label>Источник внешней синхронизации</label>
            <select name="ext_sync_src" onchange="document.getElementById('save_gnss').value = 'set_ext_sync';
                                            document.getElementById('save_gnss').click();">
                <option value="internal" {% if main.ext_sync_src == 'internal' %}selected{% endif %}>{{ main.internal.name }}</option>
                <option value="gnss422" {% if main.ext_sync_src == 'gnss422' %}selected{% endif %}>{{ main.gnss422.name }}</option>
                <option value="gnss232" {% if main.ext_sync_src == 'gnss232' %}selected{% endif %}>{{ main.gnss232.name }}</option>


            </select>
        </div>

        <div>
            <label>Выбор системы ГНСС</label>
            <select name="sat_system">
                <option value="all" {% if main.sat_system == 'all' %}selected{% endif %}>Совместно</option>
                <option value="gnss" {% if main.sat_system == 'gnss' %}selected{% endif %}>ГЛОНАСС</option>
                <option value="gps" {% if main.sat_system == 'gps' %}selected{% endif %}>GPS</option>
            </select>
        </div>

        <div>
            <label>Модель приемника ГНСС</label>
            <select name="reciever">
                <option value="irz7" {% if main.reciever == 'irz7' %}selected{% endif %}>ИРЗ МНП-7</option>
            </select>
        </div>

        <h2>Настройка ГНСС RS-232</h2>
        <div>
            <label>Скорость, бод</label>
            <select name="speed">
            {% for speed in ('1200', '2400', '4800', '9600', '19200', '38400', '57600', '115200') %}
                <option value={{ speed }} {% if main.gnss232.speed == speed %}selected{% endif %}>{{ speed }}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <label>Количество бит данных</label>
            <select name="size">
            {% for size in ('5','6','7','8','9') %}
                <option value={{ size }} {% if main.gnss232.size == size %}selected{% endif %}>{{ size }}</option>
            {% endfor %}
            </select>
        </div>
        <div>
            <label>Бит чётности</label>
            <select name="parity">
                <option value="N" {% if main.gnss232.parity == 'N' %}selected{% endif %}>None (N)</option>
                <option value="E" {% if main.gnss232.parity == 'E' %}selected{% endif %}>Even (E)</option>
                <option value="O"  {% if main.gnss232.parity == 'O' %} selected{% endif %}>Odd  (O)</option>
            </select>
        </div>
        <div>
            <label>Количество стоп-бит</label>
            <select name="stopbit">
            {% for stopbit in ('1', '2') %}
                <option value={{ stopbit }} {% if main.gnss232.stopbit == stopbit %}selected{% endif %}>{{ stopbit }}</option>
            {% endfor %}
            </select>
        </div>
        <h2>Рекомендуемые настройки: источник внешней синхронизации - ГНСС RS-422, выбор системы ГНСС - ГЛОНАСС,
          модель приемника ГНСС - ИРЗ МНП-7, скорость - 115200 бод, количество бит данных - 8, бит чётности - None,
          количество стоп-бит - 1.</h2>
        <div>
            <br>
            <button id="save_gnss" type="submit" name="btn" value="save_gnss">Сохранить</button>
            <br><br>
        </div>
    </form>
</div>
{% endblock %}