{% extends "base.html" %}
{% set active_page = "ntp" %}
{% set active_href = "/ntp.html" %}


{% block timescript %}
<script src="{{url_for('static',filename='jquery-1.12.4.min.js')}}"></script>
<script src="{{url_for('static',filename='socket.io.js')}}"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function()
     {
        namespace = '/time';
        var socket = io(namespace);
        socket.on('connect', function() {
            socket.emit('my_event', {data: 'I\'m connected!'});
        });

        socket.on('datetime_event', function(msg, cb)
        {
            $('#socket_time').text(msg.time).html();
            $('#socket_date').text(msg.date).html();
            $('#socket_synctime').text(msg.synctime).html();
            $('#socket_syncpps').text(msg.syncpps).html();

            {% if active_page == 'ntp' %}
                var labels = ['Время', 'Дата', 'Источник времени', 'Источник секундной метки'];
                var fields = ['time', 'date', 'synctime', 'syncpps']

                for (field of fields)
                {
                    label_id = '#'.concat(field)
                    if (field == 'mode') value = modelist[msg[field]];
                    if (field == 'status') value = statuslist[msg[field]];
                    else value = msg[field];
                    $(label_id).text(value).html();
                }

                var n=1;
                var td_id='';
                var column='';
                var columns = ['status_id', 'name', 'status', 'stratum', 'offset', 'jitter'];
                var value='';

                for (var i = 1; i <= 4; i++) {
                    for (column of columns){
                        td_id = '#'.concat(column + i.toString())
                        $(td_id).text('').html();
                    }
                }

                for (peer of ['.LCL.', '.NMEA.', '.GPPS.', '.LPPS.'])
                {
                    for (column of columns)
                    {
                        value = msg.peers[peer][column]
                        td_id = '#'.concat(column + n.toString())
                        $(td_id).text(value).html();
                    }

                    n++;
                    if (n>4) break;
                }
            {%  endif %}

        });
     });
</script>
{% endblock %}

{% block content %}
<form action="{{ active_href|e }}" id="{{ active_href|e }}" method="post">
    <div class="content">
        <h1>Данные службы времени</h1>
        <hr noshade>

        {% set labels = ['Время', 'Дата', 'Источник времени', 'Источник секундной метки'] -%}
        {% set values = ['time', 'date', 'synctime', 'syncpps'] -%}

        <div id="data">
            {% for i in range(0, 4) %}
                <div><label>{{labels[i]}}</label><label id="{{values[i]}}" class="value"></label></div>
            {% endfor %}
        </div>

        <h1>Информация об источниках времени</h1>
        <hr>
        <table id="peers_table" class="sats_table">
            <tr>
                {% set columns = [' ', 'Наименование источника', 'Состояние', 'Стратум', 'Смещение, мс', 'Джиттер, мс'] -%}
                {% for col in columns %}
                    <td
                        {% if col ==  ' ' %}style="width: 7px"{% endif %}
                        {% if col ==  'Наименование источника' %}style="width: 200px"{% endif %}
                        {% if col ==  'Состояние' %}style="width: 200px"{% endif %}
                    >
                        {{ col }}
                    </td>
                {% endfor %}
            </tr>

            {% set rows = ['status_id', 'name', 'status', 'stratum', 'offset', 'jitter'] -%}
            {% for i in range(1,5) %}
                <tr>
                 {% for row in rows %}
                    <td id="{{ row }}{{ i }}"></td>
                 {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <h2>
        Условные обозначения состояний:
        <br>
        <label>' * ' - источник времени</label>
        <br>
        <label>' о ' - источник секундной метки</label>
        <br>
        <label>' х ', ' - ', ' . ' - источник отклонен</label>
        <br>
        <label>' + ', ' # ' - достоверный источник</label>
        </h2>
    </div>
</form>
{% endblock %}