{% extends "base.html" %}
{% set active_page = "stat" %}
{% set active_href = "/stat.html" %}

{% block content %}
<form action="{{ active_href|e }}" id="{{ active_href|e }}" method="post">
    <div class="content">
        <script src="{{url_for('static',filename='jquery-1.12.4.min.js')}}"></script>
        <script src="{{url_for('static',filename='socket.io.js')}}"></script>
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function()
             {
                namespace = '/gps';
                // Connect to the Socket.IO server.
                // The connection URL has the following format, relative to the current page:
                //     http[s]://<domain>:<port>[/<namespace>]
                var socket = io(namespace);

                // Event handler for server sent data.
                // The callback function is invoked whenever the server emits data
                // to the client. The data is then displayed in the "Received"
                // section of the page.
                socket.on('my_response', function(msg, cb)
                {
                    if (msg.mode>=0)
                    {
                        var labels = ['Локальное время', 'Дата', 'Широта, гр', 'Долгота, гр', 'Скорость, м/с', 'Высота, м',
                            'Видимые спутники', 'Используемые спутники', 'Режим работы', 'Статус'];

                        var fields = ['time', 'date', 'latitude', 'longitude', 'speed', 'altitude', 'sats', 'sats_valid', 'status']
                        var modelist = ['Недоступно', 'Обсервация невозможна', 'Двухмерная навигация', 'Трехмерная навигация']
                        var statuslist = ['Не верно', 'Верно', '']

                        for (field of fields)
                        {
                            label_id = '#'.concat(field)
                            if (field == 'mode') value = modelist[msg[field]];
                            if (field == 'status') value = statuslist[msg[field]];
                            else value = msg[field];
                            if (value === '-') value = 'Нет данных';
                            $(label_id).text(value).html();

                        }

                        if (msg.sats_change == false) return;

                        var n=1;
                        var td_id='';
                        var column='';
                        var columns = ['src', 'PRN', 'az', 'el', 'ss'];
                        var value='';

                        for (var i = 1; i <= 10; i++) {
                            for (column of columns){
                                td_id = '#'.concat(column + i.toString())
                                $(td_id).text('').html();
                            }
                        }

                        for (sat of msg.sat_list)
                        {
                            if (!sat['used']) continue;

                            for (column of columns)
                            {
                                if (column=='src')
                                {
                                    if (sat['PRN'] > 32) value='GLONASS';
                                    else value='GPS'
                                }
                                else value=sat[column]


                                td_id = '#'.concat(column + n.toString())
                                $(td_id).text(value).html();
                            }

                            n++;
                            if (n>10) break;
                        }
                    }
                });
             });
        </script>

        <h1>Данные ГНСС приемника</h1>
        <hr noshade>

        {% set labels = ['Время', 'Дата', 'Широта, гр', 'Долгота, гр', 'Скорость, м/с', 'Высота, м',
                    'Видимые спутники', 'Используемые спутники', 'Навигационное решение'] -%}
        {% set values = ['time', 'date', 'latitude', 'longitude', 'speed', 'altitude', 'sats', 'sats_valid', 'status'] -%}

        <div id="data">
            {% for i in range(0, 9) %}
                <div><label>{{labels[i]}}</label><label id="{{values[i]}}" class="value"></label></div>
            {% endfor %}
        </div>

        <h1>Используемые спутники</h1>
        <hr>
        <table id="sats_table" class="sats_table">
            <tr>
                {% set columns = ['#','Источник', 'ID спутника', 'Азимут, гр', 'Высота, гр', 'Сигнал/шум'] -%}
                {% for col in columns %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>

            {% set rows = ['n','src', 'PRN', 'az', 'el', 'ss'] -%}
            {% for i in range(1,11) %}
                <tr>
                 {% for row in rows %}
                    <td id="{{ row }}{{ i }}">{% if row == 'n' %} {{ i }} {% endif %}</td>
                 {% endfor %}
                </tr>
            {% endfor %}
        </table>

    </div>
</form>
{% endblock %}